/**
    Fullfill this file with your data and rename it to config.js
*/
module.exports = {
    accounts: {
        "pordede.com": {
            username: "username",
            password: "password"
        }
    }
}